
body {
    
    align-content: center;
    margin: 0 auto;
}

#main-image {
    /* border: 1px solid #ddd; */
    border: 1px solid red;
    border-radius: 50%;
    padding: 5px;
    width: 350px;
    /* margin-top: 150px; */
  }
.me:hover {
    box-shadow: 0 0 2px 1px red;
    opacity: .5;
  }


.who-i-am {
    
    color: black;
    font-size: 38px;
}
.container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.center-item {
    margin-top: 100px;
    
}
#job-description {
    color: red;
}
