@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.flex-container {
    margin: 0 auto;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    width: 900px;
}

body {
    font-family: 'Roboto';
    text-align: center;
}

#main-header {
    margin-top: 4%;
}
.images{
    width: 30%;
}
    

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}