body {
   margin: 0 auto; 
}
.flex-box {
    display: flex;
    border: solid black 1px;
    justify-content: space-around;
    background: black;
    
}
button a {
    
    font-size: 20px;
    text-decoration: none;
    color: white;
}
#start-button {
    background-color: red;
    width: 33%;
    height: 75px;
    
}
.attack {
    background-color: black;
    color: white;
    width: 33%;
    height: 75px;
    
    margin-top: 0; 
    font-size: 20px;
}
.reset {
    color: white;
    background-color: blue;
    width: 33%;
    height: 75px;
    margin-top: 0;
    font-size: 20px;
}
.healths {
    display: flex;
    justify-content: space-around;
}
.game-board {
    display: flex;
    justify-content: space-around;
    
}
.pikachu {
    max-width: 30%;
    max-height: 30%;
    animation-name: grand-entrance;
    animation-duration: 3s;
    /* transform: rotate(90deg); */
    
}
@keyframes grand-entrance {
    from {transform: scale(0);}
    to {transform: scale(1);}
    

}
   
    
.balbasaur {
    max-width: 30%;
    max-height: 30%;
    animation-name: grand-entrance;
    animation-duration: 3s;
    
}
.pikachu-attack{
    max-width: 30%;
    max-height: 30%;
    display: none;
}
.balbasaur-attack {
    max-width: 30%;
    max-height: 30%;
    display: none;
}
.squirtle {
    max-width: 30%;
    max-height: 30%;
    display: none;
}
.squirtle-attack {
    max-width: 30%;
    max-height: 30%;
    display: none;
}
.charmeleon {
    max-width: 30%;
    max-height: 30%;
    display: none;
}
.charmeleon-attack {
    max-width: 30%;
    max-height: 30%;
    display: none;
}
.onix {
    max-width: 30%;
    max-height: 30%;
    display: none;
}
.onix-attack {
    max-width: 30%;
    max-height: 30%;
    display: none;
}